[user]
	name = Johan Sageryd
	email = j@1616.se
[core]
	excludesfile = ~/.config.d/git/.gitexclude
	editor = vim
	pager = less -rFX
[advice]
	detachedHead = false
[alias]
	a = add
	ci = commit
	co = checkout
	cp = cherry-pick
	l = log --pretty=compact
	ps = push
	rb = rebase
	ri = rebase --interactive
	rs = reset
	st = status
[mergetool]
	keepBackup = false
	prompt = false
[color]
	ui = auto
[sendemail]
	smtpserver = smtp.googlemail.com
	smtpserverport = 465
	smtpencryption = ssl
	smtpuser = j@1616.se
[push]
	default = simple
[rebase]
	autosquash = true
	missingCommitsCheck = warn
[difftool]
	prompt = false
[rerere]
	enabled = true
[instaweb]
	httpd = webrick
[fetch]
	prune = true
[status]
	short = true
	branch = true
[merge]
	log = 2000
[diff]
	renames = true
[pretty]
	compact = "%C(240)%h %C(250)%an%C(240) %C(240)%ar%C(auto)%d%C(255) %s%C(reset)"
[color "decorate"]
	branch = 154
	HEAD = 045
	remoteBranch = 245
	stash = 161
	tag = 226
[color "status"]
	branch = 154
[color "branch"]
	current = 154
	local = 154
	remote = 245
[log]
	decorate = short
[column]
	ui = auto,column,dense
