[user]
	name = Johan Sageryd
	useConfigOnly = true
[core]
	excludesFile = ~/.config.d/git/.gitexclude
	editor = vim
	pager = diff-highlight | less
	abbrev = 16
	hooksPath = ~/.config.d/git/hooks
[advice]
	detachedHead = false
	skippedCherryPicks = false
	diverging = false
[alias]
	a = add
	ci = commit
	co = checkout
	cp = cherry-pick
	l = log --pretty=compact --date=relative --topo-order
	rb = rebase
	ri = rebase --interactive
	rs = reset
	st = status
	wip = !git commit -am \"[wip] $(git diff --name-only HEAD | xargs -n1 basename | sort -u | xargs echo)\" && true
[mergetool]
	keepBackup = false
	prompt = false
[color]
	ui = auto
[sendemail]
	smtpserver = smtp.googlemail.com
	smtpserverport = 465
	smtpencryption = ssl
	smtpuser = j@1616.se
[push]
	default = simple
[rebase]
	autosquash = true
	missingCommitsCheck = warn
[difftool]
	prompt = false
[rerere]
	enabled = true
[instaweb]
	httpd = webrick
[fetch]
	prune = true
[status]
	short = true
	branch = true
[diff]
	renames = true
[pretty]
	compact = "%C(240)%h %C(250)%an%C(240) %C(240)%ad%C(auto)%d%C(255) %<(60,trunc)%s%C(reset)"
[color "decorate"]
	branch = 190
	HEAD = 80
	remoteBranch = 245
	stash = 161
	tag = 226
[color "status"]
	branch = 190
	localBranch = 190
	remoteBranch = 245
	nobranch = 160
	added = 190
	changed = 220
	untracked = 245
	unmerged = 196 52
[color "branch"]
	current = 190
	local = normal
	remote = 245
[log]
	decorate = short
	graphColors = 245
[http]
	cookiefile = /Users/j/.gitcookies
[color "diff-highlight"]
	oldNormal = 160
	oldHighlight = 196 52
	newNormal = 148
	newHighlight = 190 22
[color "diff"]
	commit = 220
	meta = 245
	frag = 80
	old = 160
	new = 148
	whitespace = 124 reverse
[url "git@github.com:"]
	insteadOf = http://github.com/
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = git+ssh://github.com/
[pull]
	ff = only
[interactive]
	diffFilter = diff-highlight
[tag]
	sort = version:refname
[init]
	defaultBranch = master
[include]
	path = ~/.gitconfig-local
[remote "origin"]
	tagOpt = --tags
