[user]
	name = Johan Sageryd
	email = johan.sageryd@ws.se
[core]
	excludesfile = ~/.config.d/git/.gitexclude
	pager =
	editor = vi -c 'set noro | set tw=72'
[advice]
	detachedHead = false
[alias]
	a = add
	c = commit
	co = checkout
	cp = cherry-pick
	rb = rebase
	st = status
[mergetool]
	keepBackup = false
